josephBody {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10%;
    padding-top: 50px; padding-bottom: 2.5%;
    line-height: 1.5;
    background-color: rgb(36, 36, 36);
    /* background-image: url('../../Images/aboutJosephImages/flowChartDig.png'); */
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;

}

.yellow {
    background-image: linear-gradient(to bottom right, yellow,  rgb(255, 255, 153));
    border-radius: 7px;
    background-color: yellow;
    padding: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    margin-left: 18%;
    margin-right: 8%;
}

.blue {
    background-color: rgb(0, 251, 255);
    background-image: linear-gradient(to bottom right, rgb(0, 251, 255),  rgb(148, 253, 255));
    border-radius: 7px;
    padding: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    margin-right: 14%;
    margin-left: 2%;
    margin-top: -10px;
}

.pink {
    background-color: rgb(255, 0, 221);
    background-image: linear-gradient(to bottom right, rgb(250, 89, 229),  rgb(255, 154, 242));
    border-radius: 7px;
    padding: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    margin-left: 10%;
    margin-right: 4%;
    margin-top: -10px;
}

.white {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255),  rgb(226, 226, 226));
    border-radius: 7px;
    padding: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    margin-right: 18%;
    margin-left: 4%;
    margin-top: -10px;
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: normal;
    font-size: 100px;
    text-align: center;
    margin-bottom: 20;
    line-height: 80%;
    margin-top: -45px;
}

h2 {
    font-size: 40px;
    font-weight: 100;
    margin: 0px;
    margin-top: 20px;
    line-height: 125%;
    text-align: center;
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 60px;
    font-weight: normal;
    margin: 0px;
    margin-top: 0px;
    margin-left: -10px;
    line-height: 115%;
    text-align: center;
}

strong{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 26px;
    line-height: 90%;
}

p {
    font-size: 18px;
    letter-spacing: .25;
}
.logoType{
    color: white;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}


.blackText {
    color: black;
}

dl {
    font-size: 14;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}

dt {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    letter-spacing: 5px;
    color: rgb(0, 251, 255);
    padding-top:10px;
    font-weight: normal;
}

dd {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
}

em {
    background-color: yellow;
    color: black;
}

a {
    text-decoration: none;
    color: yellow;
    font-size: 20px;
    letter-spacing: 2px;;
}

.smallLink{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border-bottom: solid 3px rgb(0, 251, 255);
}
.smallLinkIG{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border-bottom: solid 3px rgb(255, 255, 255);
}

a:visited {
    text-decoration: underline;
    color: rgb(255, 0, 221);
}

a:hover {
    border-bottom: solid 3px rgb(255, 0, 221);
    color: inherit;
    text-decoration: none;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.rule{
    border: 1px solid rgb(69, 69, 69);
}
.ruleDark{
    border-top: 2px dotted rgb(58, 58, 58);


}

.circle{
    clip-path: circle(150px at center);
}