body{
    background: radial-gradient(#9e6161, #0000005e, #9e6161);
}
.card{
    width: 19rem;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgb(231, 207, 207);
}
.card-body{
    padding: 1.2rem 0 !important;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.1rem 1.9rem;
    
}
.container-fluid .row{
    padding-top: 3rem;
    display: flex;
    justify-content:center;
    justify-content: space-evenly;
   
}
.card-title, .card-img-top, .btn{
    display: flex;
    justify-content: center;
}


.card-img-top{
    transform: scale(1);
    
}
.card-img-top:hover{
    transform: scale(1.4);
}