/* body{
    background: radial-gradient(#9e6161, #0000005e, #9e6161);
} */
.homeCard{
    width: 20rem;
    margin-top: 6rem;
    display: flex;
    justify-content:center;
    justify-content: space-evenly;
    background: radial-gradient(#be8b8b, #0000005e, #9e6161);
}
.homeCard:hover{
    box-shadow: 5px 10px 20px 1px rgb(231, 207, 207)!important;
}
/* .homeCard-body{
    padding: 3rem 0 !important;
    
} */
.homeCard-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0.1rem 1.9rem;
    font-weight: bold;
    
}

.homeCard-title, .homeCard-img, .btn{
    display: flex;
    justify-content: center;
    margin: 1.9rem;
    
    
}

.homeCard-img{
    transform: scale(1);
    
    
}
.homeCard-img:hover{
    transform: scale(1.4);
}

